<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.sumasu.u_s_k"
      android:versionCode="2"
      android:versionName="1.1">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".UskRetweetActivity"
                  android:label="@string/rt_usk" 
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_SHOW_TWEET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UskReplyActivity"
                  android:label="@string/qt_usk" 
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_SHOW_TWEET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingPreference"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_PLUGIN_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HiddenSettingActivity"
                  android:label="@string/app_name">
        </activity>
        <receiver android:name=".HiddenReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="0519" />
            </intent-filter>
        </receiver>

    </application>
</manifest>